/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 20px;
}



h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background: #eb20ab;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #ed0f94;
}

#image-container,
#imageContainer {
    margin: 20px 0;
}

#image-container img,
#imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#label-container {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
